@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nixie+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: rgb(11, 12, 23);
    cursor: pointer;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Nunito Sans", serif;
    transition: 0.1s;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    transition: 0.3s;
}

a:hover {
    color: aquamarine;
}

::selection {
    color: black;
    background-color: rgb(241, 205, 129);
}

#IntroContainer {
    margin-top: 70px;
    text-align: center;
}

.Intro {
    font-family: "Nunito Sans", serif;
    font-weight: 500;
    letter-spacing: 6px;
    color: rgb(241, 205, 129);
    font-size: 200px;
}

@media (min-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .image {
        height: 30vh;
        position: absolute;
        left: 63vw;
        top: 130vh;
    }
}

marquee {
    color: 1;
    font-family: "Nunito Sans", serif;
    font-weight: 100;
    font-size: 40px;
}

#MarqueeContainer {
    width: 700px;
}

#about {
    width: 100vw;
    letter-spacing: 1px;
    color: rgb(241, 205, 129);
    line-height: 4rem;
    font-size: 1.1rem;
    text-align: center;
    width: 40vw;
    margin: 10vh;
    margin-left: 20vh;
    margin-top: 30vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

#image {
    height: 40vh;
    position: absolute;
    left: 63vw;
    top: 127vh;
}

#Footer {
    font-size: 18px;
    margin-top: 200px;
    color: rgb(241, 205, 129);
    margin-bottom: 5vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}

#about-title {
    letter-spacing: 1px;
    color: rgb(241, 205, 129);
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    margin-bottom: 5vh;
}

#projects {
    width: 100vw;
    letter-spacing: 1px;
    color: rgb(241, 205, 129);
    line-height: 4rem;
    font-size: 1.1rem;
    text-align: center;
    width: 40vw;
    margin: 10vh;
    margin-left: 20vh;
    margin-top: 30vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

marquee {
    color: rgb(241, 205, 129);
}

a {
    text-decoration: none;
    color: rgb(241, 205, 129);
}

li {
    transition: 0.3s;
}

li:hover {
    scale: 1.1;
}


  